
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200..700&display=swap');

body{
  background-image: url(../img/background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.logo {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.logo img {
  width: 450px;
  height: auto;
}

h2 {
  font-family: "Cinzel";
}

label {
  font-family: "Yanone Kaffeesatz";
  font-size: 25px;
}

input {
  font-family: "Yanone Kaffeesatz";
  font-size: 20px;
}

.btn-success {
  font-family: "Yanone Kaffeesatz";
  font-size: 25px;
}

.btn-secondary {  
  font-family: "Yanone Kaffeesatz";
  font-size: 20px;
  background-color:steelblue;
}

.btn-primary {
  font-family: "Yanone Kaffeesatz";
  font-size: 25px;
}

.btn-warning {
  font-family: "Yanone Kaffeesatz";
  font-size: 25px;
}

h4 {
  font-family: "Yanone Kaffeesatz";
  font-size: 27px;
}

.saldo {
  font-family: "Yanone Kaffeesatz";
  font-size: 60px;
  font-weight: bolder;
}

h3 {
  font-family: "Yanone Kaffeesatz";
  font-size: 30px;
}

span {
  font-family: "Yanone Kaffeesatz";
  font-size: 20px;
  color: grey;
}

.alert {
  font-family: "Yanone Kaffeesatz";
  font-size: 18px;
}

.saldo-actual {
  font-family: "Yanone Kaffeesatz";
  font-size: 28px;
  font-weight: bold;
}

#saldoActual {
  display: block;
  font-size: 42px;
  color: green;
}